<h2>Edit Your Profile</h2>
<form action="/users" method="POST">
<div class="form-group">
    <label for="name">
        Name:
    </label>
    <input type="text" class="form-control" name="name" id="name">
</div>
<div class="form-group">
    <label for="name">city:</label>
    <input type="text" class="form-control" name="city" id="city" value="{{ city }}">
  </div>
  <div class="form-group">
    <label for="name">about:</label>
    <input type="text" class="form-control" name="about" id="about" value="{{ about }}">
  </div>
<div class="form-group">
    <label for="favlocation">
        FavLocation:
    </label>
    <input type="text" class="form-control" name="favlocation" id="favlocation">
</div>
<button  class="btn btn-primary">Update</button>

</form>

<p><a href="users/{{username}}" target="_blank">View Your Profile</a></p>
