<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="styling.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="logphone.css">
  </head>
  <body>
    {{#loggedIn}}
    <p class="text-right">
      <a href="/auth/logout">Logout</a>
    </p>
    {{/loggedIn}}
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
